<div class="posts">
  <div class="def-block">
    <div class="row row-fluid clearfix mbf">
      <div class="span8">
        <h1>Resend unlock instructions</h1>

        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <h4>Email</h4>
            <span class="liner"></span>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="actions">
            <%= f.submit "Resend unlock instructions", class: "tbutton large" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
