<%= form_for(@dj) do |f| %>
  <% if @dj.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dj.errors.count, "error") %> prohibited this dj from being saved:</h2>

      <ul>
      <% @dj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h5> Name </h5>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <h5> Avatar Name </h5>
    <%= f.text_field :avatar_name %>
  </div>
  <div class="field">
    <h5> Experience </h5>
    <%= f.text_field :experience %>
  </div>
  <div class="field">
    <h5> Location </h5>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <h5> Open to Collaboration? </h5>
    <%= f.check_box :collab, class: "js-switch" %>
  </div>
  <div class="field">
    <h5> What software do you use? </h5>
    <%= f.text_field :software %>
  </div>
  <div class="field">
    <h5> Add a DJ Photo </h5>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <h5> Soundcloud </h5>
    <%= f.text_field :soundcloud %>
  </div>
  <div class="field">
    <h5> Mixcloud </h5>
    <%= f.text_field :mixcloud %>
  </div>
  <div class="field">
    <h5> Youtube </h5>
    <%= f.text_field :youtube %>
  </div>

  <div class="field">
    <h5> DJ Bio </h5>
    <%= f.text_field :bio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
