<h1>Places of Interest</h1>

<ul class="tabs">
  <li><a href="#Featured" class="active"> Featured </a></li>
  <li><a href="#Latest"> Latest </a></li>
  <li><a href="#Favorites"> Favorites</a></li>
</ul><!-- tabs -->
<ul class="tabs-content">
  <li id="Featured" class="active">
    <div class="post no-border no-mp clearfix">
      <ul class="tab-content-items">
        <% @featured.each do |venue| %>
        <li class="grid_6">
          <a class="m-thumbnail" href=""><img width="50" height="50" src="<%= venue.picture %>" alt="#"></a>
          <h3><a href="/venues/<%= venue.id %>"><%= venue.name %></a></h3>
          <span> <% if venue.radio %><i class="icon-play"  onclick="change_station('featured', '<%= venue.id %>')"> play</i><% end %> </span>
          <span> <%= venue.genres(true) %> </span>
        </li>
        <% end %>
      </ul>
    </div>
  </li>
  <li id="Latest">
    <div class="post no-border no-mp clearfix">
      <ul class="tab-content-items">
        <% @latest.each do |venue| %>
        <li class="grid_6">
          <a class="m-thumbnail" href=""><img width="50" height="50" src="<%= venue.picture %>" alt="#"></a>
          <h3><a href="/venues/<%= venue.id %>"><%= venue.name %></a></h3>
          <span> <% if venue.radio %><i class="icon-play"  onclick="change_station('latest', '<%= venue.id %>')"> play</i><% end %> </span>
          <span> <%= venue.genres(true) %> </span>
        </li>
        <% end %>
      </ul>
    </div>
  </li>
</ul>

<script type="text/javascript">
  function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
      vars[key] = value;
    });
    return vars;
  }


  function change_station(listid, stationid){
    if(getUrlVars()['debug']){ var debugmode = true }
    var playlist = $("[data-source=" + listid + "]").index()
    var playpos = $("[data-venue=" + stationid + "]").index();
    if(debugmode){
      console.log("Listid: " + listid)
      console.log("Playlist: " +playlist)
      console.log("Sending Player: " + playlist + "," + playpos)
      console.log("Send this output to the developer: " + document.URL)
    }
    player1.playSpecificTrack(playlist, playpos)
  }
</script>
