<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9" xmlns="http://www.w3.org/1999/xhtml" lang="en-US"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<!--<![endif]-->
<head>
  <title>DigitalUnderground</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!-- Seo Meta -->
  <meta name="description" content="Digital Underground is an Undergroud Radio dedicated to the emerging talent present on web radio.">
  <meta name="keywords" content="remix, music, dj, radio, live, mix, indie, amateur, underground radio">

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="style.css" id="dark" media="screen" />
  <link rel="stylesheet" type="text/css" href="js/rs-plugin/css/settings.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="styles/icons/icons.css" media="screen" />
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- webplayer script include -->
  <%= render "layouts/shared/playerscript" %>
  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EmulateIE8; IE=EDGE" />
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/icons/font-awesome-ie7.min.css" />
  <![endif]-->

  <%= csrf_meta_tags %>

</head>
<body id="fluidGridSystem">
  <div id="layout" class="full">
    <!-- login-widget -->

    <%= render "layouts/home/mainheader" %>
    <%= render "layouts/home/mainslider" %>

    <div class="page-content">
      <div class="row clearfix mbf">
        <div class="music-player-list"></div>
      </div><!-- row music player -->

      <div class="row row-fluid clearfix mbf">
        <div class="span8">
          <%= render "layouts/home/news" %>
        </div><!-- span8 news -->

        <div class="span4"> <!-- Sidebar -->
          <%= render "layouts/home/timer" %>
          <%= render "layouts/home/videos" %>

        </div><!-- span4 sidebar -->
      </div><!-- row clearfix -->

    </div><!-- end page content -->
    <%= render "layouts/shared/footer" %>

  </div><!-- end layout -->
  <!-- Scripts -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/theme20.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
  <script type="text/javascript" src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="js/jquery.jplayer.js"></script>
  <script type="text/javascript" src="js/countdown.js"></script>
  <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
  <script type="text/javascript" src="js/twitter/jquery.tweet.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
  <script type="text/javascript">
    /* <![CDATA[ */
    jQuery(document).ready(function() {
      jQuery('.tp-banner').revolution({
        delay:9000,
        startwidth:1060,
        startheight:610,
        hideThumbs:10,
        navigationType:"off",
        fullWidth:"on",
        forceFullWidth:"on"
      });
      jQuery("#event1").countdown({
        date: "16 January 2015 18:00:00",
        format: "on"
      },
      function() {
        // callback function
      });
      jQuery("#event2").countdown({
        date: "1 January 2015 12:00:00",
        format: "on"
      },
      function() {
        // callback function
      });
    });
    /* ]]> */
  </script>




<!-- <%= yield %> -->

<%= render "layouts/shared/player" %>

</body>
</html>
